.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: #475569;
  display: flex;
  align-items: center;
  gap: 8px;
}

.selectWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.customSelect {
  width: 100%;
  /* padding: 12px 16px; */
  padding: 8px 12px 8px 10px;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  background-color: #f8fafc; /* Fundo acinzentado padrão */
  font-size: 15px;
  color: #1e293b;
  outline: none;
  cursor: pointer;
  appearance: none; /* Remove a seta padrão do navegador */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%2394a3b8'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 18px;
  transition: all 0.2s ease;
}

.customSelect:focus {
  border-color: #8b2cf5; /* Roxo para Aluno */
  background-color: #ffffff;
  box-shadow: 0 0 0 3px rgba(139, 44, 245, 0.1);
}

/* Estilização das opções (limitada pelo navegador) */
.customSelect option {
  color: #1e293b;
  background-color: #ffffff;
}