.customButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width:100%;
}

.customButton:hover {
  background-color: #0056b3;
}

.customButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
