.customButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width:100%;
  justify-content:center;
  align-items:center;
  box-shadow: 0 4px 12px rgba(139, 44, 245, 0.3);

}

.customButton:hover {
  background-color: #0056b3;
  transition: y-10;
}

.customButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
