.card {
  background: white;
  padding: 30px;
  border-radius: 24px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  color: #333;
}

.backButton {
  background: none;
  border: none;
  color: #6c757d;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 0;
}

.iconBox {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 25px;
}

.professorTheme { background-color: #1a4cd8; }
.alunoTheme { background-color: #9d1df2; }

.lockIcon { color: white; }

.title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.subtitle {
  color: #6c757d;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputIcon {
  position: absolute;
  left: 12px;
  color: #999;
}

.inputWrapper input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  background-color: #f8f9fa;
  outline: none;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-size: 13px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #444;
}

.forgotPass {
  color: #1a4cd8;
  text-decoration: none;
}

.submitBtn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s;
}

.submitBtn:hover {
  opacity: 0.9;
}

.switchLink {
  cursor: pointer;
  font-weight: 700;
  margin-left: 5px;
}
.switchText {
  text-align: center;
  margin-top: 24px;
  font-size: 14px;
  color: #64748b;
}
