.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; /* Espaçamento entre os inputs */
}

.label {
  margin-bottom: 0.5rem;
  font-size: 14px;
  color: #333;
}

.customInput {
  padding: 6px 12px 6px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.customInput:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}