.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #007bff;
  animation: spin 1s ease infinite;
}
.pageContainer{
  width:40%;
}

.passwordInt{
  display: grid;
  font-size:12px;
  margin-left:10px;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr;    
  height: 60px;     
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
